## Assignment 1

#### qest 1 
- String = 'hello'
- Integers = 6
- operators = -, +, *, /
- float = -87.8

#### ques 2
-  String - String is a class and a data type uit is used to represent text type data..e  can be assign to a variable
- variable - variable is any alphabet or group of alphabet and numbers which work as temporary storage locations             , a variable is used to represent any infromation.

#### ques 3
##### 3 Data Types
- String = A string data type consists of one or more characters, which can include letters, numbers, and other            types of characters, it can be represented by either single quote('') or double quotes("") . ex-                "hello", "@#",'87 '
- Integer = An integer data type represents some range of mathematical integers.It stores whole numbers that                 range from -2,147,483,647 to 2,147,483,647
- Boolean = The Boolean data type can only represent two values: true or false. Typically, a 1 is used to                   represent True, and a 0 is used to represent False.

#### ques 4
- Expression = An expression is a combination made up of values,variables and operators which evaluate to a                single value  it is used to perform mathematical operations ex- 2*3 return 6.

#### ques 5
- Statement = Statement is an instruction that python interpreter can execute (Anything we write in python                     script is a statement), it is of 4 types print,assignment,condition,loop. ex- a = 9 (assignment)
- expression = An expression is a construct made up of values,variables and operators.

#### ques 6

bacon = 22
bacon + 1
it will return 23 in the console

In [1]:
bacon = 22
bacon+1

23

#### ques 7

- 'spamspam'+'spam = 'spamspamspam'
- 'spam'*3 = 'spamspamspam'

In [2]:
'spam'+'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

#### ques 8

- According to the python naming convention rule we should follow the following rules to create a variable
- - A variable name must start with a letter or the underscore character.
  - A variable name cannot start with a number.
  - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
  - Variable names are case-sensitive (age, Age and AGE are three different variables)

**In our question variable name 100 is violating the rule that varible cannot start with an integer or a number**

#### ques 9

**int(),float(), str()** are the 3 functions can be used to get the integer, floating-point number, or string
version of a value.

#### ques 10

**&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;** the expression cause an error because we cannot concatinate one data type to another data type, the type of the data should be same to perform concat operatoin

In [4]:
'I have eaten'+ 99 +'burritos'

TypeError: can only concatenate str (not "int") to str

In [6]:
'I have eaten'+ ' 99 ' +'burritos'

'I have eaten 99 burritos'